@import url('https://fonts.googleapis.com/css2?family=Inter&family=Righteous&family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    color: #FFF;
    font: 500 16px/28px 'Urbanist', Arial, Helvetica, sans-serif;
    background-color: #14110E;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .4s;
}
ul li,
ol li {
    list-style-type: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    display: block;
    border: none;
    color: inherit;
    background-color: transparent;
    transition: .4s;
    cursor: pointer;
}
.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 75px;
}
.container-header {
    padding: 0 10px;
}
/*------------------------------ Header-------------------------- */
#header-section {
    padding: 32px 0;
    background-color: #1c1814;
}
.header,
.nav-main,
.nav-main_list,
.header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-main {
    flex-grow: 1;
}
.nav-main_list {
    gap: 48px;
    font: 400 18px 'Inter', Arial, Helvetica, sans-serif;
}
.nav-main_link_selected {
    color: #c99e71;
    cursor: default;
    font-weight: 700;
}
.nav-main_link:hover,
.header-action_search:hover,
.header-action_cart:hover {
    color: #c99e71;
}
.header-action {
    gap: 50px;
    margin-left: 48px;
}
.header-action .header-action_search,
.header-action .header-action_cart {
    font-size: 30px;
}
.header_logo {
    padding-right: 80px;
}
/* ---------------------------Baner   -----------------------*/
#banner-section {
    background: url(img/banner.png) 50% 0%/cover no-repeat;
}
.banner {
    display: flex;
    justify-content: space-between;
    padding: 147px 0 158px;
    margin-bottom: 70px;
}
.banner-info {
    max-width: 850px;
}
.banner_header {
    font: 72px/94px 'Nunito', sans-serif;
    color:#fdecec;
}
.banner-text {
    margin: 32px 0 64px;
    font-size: 20px;
    line-height: 36px;
    opacity: 0.8;
    text-transform: capitalize;
}
.btn-primary {
    padding: 20px 36px;
    font: 700 18px 'Inter', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: #c99e71;
}
.btn-primary:hover {
    background-color: #735637;
}
.banner_btn {
    margin-top: 50px;
    padding: 24px 40px;
}
.banner-video_btn {
    position: relative;
    display: flex;
    align-items:flex-end;
    align-self: flex-end;
    height: 110px;
}
.banner-video_btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 66px;
    height: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: url(img/Vector.png) 50%/14px 18px no-repeat;
    transform: translateX(-50%);
}
/* --------------------------features-------------------------------- */

.section_main {
    padding-bottom: 70px;
}
.features {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    padding-top: 70px;
}
.features_item {
    font: 24px/30px 'Righteous', cursive;
}
.features-item-dark {
    margin-right: 12px;
    color: #c99e71;
}
.features_img {
    display: block;
    margin-top: 24px;
}
/*---------------------------- History -----------------------------------*/
.history-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.history-wrap_img:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
}
.history-wrap_img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}
.history-wrap_img:last-child {
    grid-column: 1/2;
    grid-row: 2/3;
}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1c1814;
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 0 56px;
}
.section-title {
    font: 600 18px/22px 'Urbanist', Arial, Helvetica, sans-serif;
    color: #c99e71;
    text-align: center;
    margin-bottom: 12px;
}
.section-subtitle {
    margin-bottom: 56px;
    font: 48px/62px 'Righteous', cursive;
    text-align: center;
}
.section-text {
    opacity: 0.8;
    text-transform: capitalize;
}
.history_title,
.history_subtitle {
    text-align: left;
}
.history_subtitle {
    margin-bottom: 36px;
}
.mathematic {
    max-width: 600px;
    margin-top: 70px;
}
#A, #B, #C {
    width: 120px;
    height: 120px;
    margin: 10px;
    font-size: 30px;
    border-radius: 5px;
}
.label {
    font-size: 30px;
}
.block_math {
    display: inline-block;
}